<footer class="footer has-background-black-ter">
  <div class="container">
    <div class="footer-content">
      <p>Explorando o mundo dos cães, um projeto feito em Angular</p>
      <ul class="social-links">
        <li><a href="https://github.com/MaceiraDev" target="_blank"><i class="bi bi-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/leonardo-maceira-santos-940b54235/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Dog Explorer | Feito para fins de estudo</p>
    </div>
  </div>
</footer>