<section class="container">
  <div class="has-text-centered">
    <h1 class="has-text-primary title capitalize">Sobre</h1>
  </div>
  <hr class="has-background-primary" />
  <div class="columns is-multiline is-vcentered">
    <div class="column is-12-mobile is-6-desktop">
      <div class="content">
        <p>
          Olá, meu nome é <strong class="has-text-primary">Leonardo Maceira Santos</strong>. Sou um desenvolvedor web
          apaixonado por aprender e explorar novas tecnologias. Tenho experiência em frameworks como
          <strong><span class="has-text-success">Vue.js</span>, <span class="has-text-info">React</span>, <span
              class="has-text-warning">Laravel</span></strong>
          e tecnologias modernas que impulsionam o desenvolvimento web eficiente e criativo.
        </p>
        <p>
          Este projeto foi desenvolvido como parte do meu processo de aprendizado em <strong>Angular</strong>. Ele
          utiliza a incrível <a class="link_utils" href="https://dog.ceo/dog-api/" target="_blank">Dog API</a>, que
          fornece imagens
          adoráveis e
          informações sobre diversas raças de cães. Meu foco foi criar uma aplicação interativa e responsiva, que
          demonstre a integração de APIs e a modularidade do Angular. A estilização foi realizada com o <a
            class="link_utils" href="https://bulma.io/" target="_blank">Bulma</a>, enquanto os ícones foram incorporados
          utilizando o <a class="link_utils" href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a>.
        </p>
        <p>
          No site, você pode explorar uma variedade de raças de cães, visualizar imagens detalhadas e aprender mais
          sobre cada raça. É um projeto educacional, mas também uma oportunidade de compartilhar um pouco da minha
          jornada e
          prática em desenvolvimento.
        </p>
        <p>
          Se quiser acompanhar meu trabalho, você pode acessar meu LinkedIn:
          <a href="https://www.linkedin.com/in/leonardo-maceira-santos-940b54235/" target="_blank" class="menu__link">
            <i class="bi bi-linkedin" style="font-size: 22pt;"></i>
          </a>
        </p>
        <p>
          <strong class="has-text-danger">Obrigado por visitar!</strong> Espero que este site inspire seu amor pelos
          cães e por tecnologia tanto quanto inspira o
          meu.
        </p>
      </div>
    </div>
    <div class="column is-12-mobile is-6-desktop has-text-centered">
      <figure class="image is-square">
        <img
          src="https://img.freepik.com/fotos-gratis/vista-de-close-up-do-conceito-de-cachorro-fofo_23-2148786558.jpg?t=st=1737124547~exp=1737128147~hmac=a4808e25d77d91c2d2fc25b22f7544a6f646a4c4927dcf44bd11ba650818221f&w=740"
          alt="Cachorro com roupinha de gravata" class="is-rounded">
      </figure>
    </div>
  </div>
</section>